// Place all the styles related to the sound controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: auto;
  text-align: center;
  font-size: 120px;
  padding: 20px;
  height: 100%;
  display: block;
  border-radius: 10px;
  white-space: pre-wrap;
}

.connected {
  background: green;
  color: white;
}

.disconnected {
  background: yellow;
  color: red;
  font-size: 100px;
}
